/* 
    Document   : dataTable
    Created on : 12/05/2010, 00:28:59
    Author     : Lessandro
    Description:
        Purpose of the stylesheet follows.
*/


/* DataTable borda paginacao */
.ui-widget-header {
    background: none;
    border: none;
    color: #000000;
}

/* ------------- */

/* Botoes */

.ui-button {
    cursor:pointer;
    height: 24px;
    margin-top: 0px;
    display:inline-block;
    margin-right:0.1em;
    overflow:visible;
    padding:0;
    position:relative;
    text-align:center;
    text-decoration:none !important;
}
/* ------------- */

/* Icone close do dialog */
.ui-dialog-titlebar-close{
    display: none;
}





